if(${CMAKE_CURRENT_SOURCE_DIR} STREQUAL ${CMAKE_CURRENT_BINARY_DIR})
   message(FATAL_ERROR "In-tree builds are not allowed! Please run \"cmake -S ${CMAKE_SOURCE_DIR} -B ${CMAKE_SOURCE_DIR}/dist\" and using it.")
endif()

cmake_minimum_required(VERSION 3.25)
project(hello)

#region METRO_BUILD
# AUTO GENERATED
#endregion METRO_BUILD

message(Complete)